.Rhistory
.RData
.Ruserdata
.Rproj.user/
/*.tar.gz
/*.Rcheck/
/src/.cargo/
/src/Makevars
/src/Makevars.win
/src/*.o
/src/*.so
/src/rust/target/
/src/rust/vendor/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
